@charset "UTF-8"

*
{
 	margin:0;
 	padding:0;
}

body
{
	background-color:lightcyan;
	margin:200px 0 0 0;
}

header
{
	background-color:mistyrose;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	text-align:center;
	overflow:hidden;
}

#head ul
{
	overflow:hidden;
	float:center;
}

#head li
{
	float:left;
	width:128px;
	border-right:black 2px solid;
	list-style-type:none;
	overflow:hidden;
}

#head a
{
	display:block;
	padding:10px 0;
	text-align:center;
	text-decoration:none;
	background:honeydew;
	color:black;
}

#head a.selected
{
	background:lightgreen;
	font-weight:bold;
}

.pankuzu li
{
	display:inline;
	list-style-type:none;
}

.pankuzu li:before
{
	content:" > ";
}

.pankuzu li:first-child:before
{
	content:"";
}


aside
{
	position:fixed;
	top:64px;
	right:0;
	background-color:lavender;
	width:200px;
	height:512px;
	min-height:128px;
	float:right;
	text-align:center;
	overflow:auto;
}

footer
{
	text-align:center;
	background-color:lightyellow;
	clear:both;
}
